#root, html, body {
    height: 100vh;
}

::selection{
    color: black;
    background: #E3E8F8;
}

body {
    margin: 0;
    background-color: #E3E8F8;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}